doctype html
| PASTE YOUR HTML CODE HERE
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='style.css')
  title Document
h1#main-heading Event Listerners
.container
  .boxes.box-1
    h1#heading  Example 1
    button.btn-1 Enter
  .boxes.box-2
    h1#heading  Example 1
    button.btn-2 Enter
  .boxes.box-3
    h1#heading  Example 1
    button.btn-3 Enter
script(src='app.js')
